data/merged/
data/roboflow_*/
data/plantvillage/
data/cassava/
data/tomato/
data/*.zip
venv/
__pycache__/
*.pyc
*.pt
*.engine
*.onnx
Untitled*
untitled*
yolo11n/
yolo26n/
.ipynb_checkpoints/
.ipynb_checkpoints/
